nav {
  max-width: 840px;
  margin: auto;
  padding: 0;
  border: 1px solid #000;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li {
  margin: 15px;
  padding: 0;
  border-radius: 5px;
  line-height: 1;
  color: #fff;
  background: #007bbb;
}

li:first-child {
  background: #f8b500;
}

li a {
  display: block;
  margin: 0;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}