.contents {
  display: flex;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  background: #f3f3f2;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.align {
  width: 400px;
  height: 150px;
  padding: 15px;
  background: #c0c6c9;
  border-radius: 5px;
  flex: none;
}

p {
  margin: 0;
}