header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  margin-left: 5px;
  margin-right: 5px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main div.animal {
  width: calc(33.3% - 10px);
  margin: 5px;
}
